# =====================================

# Python

# =====================================

.venv/
**pycache**/
*.pyc

# =====================================

# Environment Variables

# =====================================

.env

# =====================================

# Logs

# =====================================

*.log

# =====================================

# VS Code

# =====================================

.vscode/

# =====================================

# Power BI Cache

# =====================================

.pbi/
**/.pbi/localSettings.json
**/.pbi/cache.abf

# =====================================

# OS Files

# =====================================

.DS_Store
Thumbs.db
